.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    color: white;
    background-color: rgba(48, 48, 48,0.1);
    opacity: 1;
    background-color: rgba(48, 48, 48,0.7);
    opacity: 1;
    z-index: 10;
}
.logo {
    width: 50%;
    height: 80px;
}
.navbar ul {
    display: flex;
    width: 50%;
    height: 80px;
    justify-content: flex-end;
    align-items: center;
}
.navbar ul li {
    margin-right: 40px;
    list-style: none;
}