.review-container {
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 10px rgba(200, 200, 200, 0.1);
    padding-left: 5%;
    padding-right: 5%;
}
.review_card {
    box-shadow: 0px 0px 10px 2px rgba(167, 167, 167, 0.5);
    min-width: 250px;
    height: 250px;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    margin-top: calc(50% - 150px);
    margin-bottom: 10px;
}
.review_card .image {
    width: 130px;
    height: 130px;
    overflow: hidden;
    object-fit: contain;
    border-radius: 50%;
    margin: auto;
}
.review_card h2 {
    text-align: center;
    margin: 10px;
}
.review_card p {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.review_card img {
    width: 130px;
}
.checked {
    color: orange;
}
